# centauri-trusted.target
[Unit]
Description=Trusted network mode

Conflicts=centauri-master.target centauri-slave.target centauri-member.target centauri-public.target
After=network-online.target centauriswitch.service
Wants=network-online.target centauriswitch.service centauri-network.service centauri-netconf.service

Requisite=multi-user.target

# Services to start
Wants=winbind.service smbd.service nmbd.service centauriwsdd.service

# Stops centauri-master services
Conflicts=ntpsec.service samba-ad-dc.service centaurinmbd.service
Conflicts=cyrus-imapd.service exim4.service openvpn@server.service squid.service
Conflicts=nfs-mountd.service rpcbind.service rpc-gssd.service nfs-server.service 
