[Unit]
Description=Get Domain Server and secrets
Before=multi-user.target
After=centaurifilter.service centauriswitch.service centauriroute.service network-online.target

# must not be running as a daemon ...
ConditionPathExists=!/run/centauri/centaurisecrets.run

# do only run with centauriswitch enabled
ConditionKernelCommandLine=!centauriswitch=disable
ConditionKernelCommandLine=!centauriswitch=disabled

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/var/centauri/tools/centaurisecrets --daemon=0 start
ExecStop=/var/centauri/tools/centaurisecrets --daemon=0 stop

[Install]
WantedBy=centauriswitch.service

