[Unit]
Description=Run XServer for given user
ConditionPathExists=/home/%I

[Service]
User=%I
#Group=users
WorkingDirectory=/home/%I
Type=simple
RemainAfterExit=no
ExecStart=/var/centauri/tools/centauristartx --syslog=2 --console=7
#ExecStart=/var/centauri/tools/centauristartx --nowait --console=7
