# centaurihass.service - Run HomeAssistant
[Unit]
Description=Home Assistant Server
After=networking.service mosquitto.service
Wants=networking.service mosquitto.service

StartLimitBurst=10
StartLimitIntervalSec=1000

ConditionPathExists=/opt/HomeAssistant/homeassistant/service-enabled

[Service]
User=homeassistant
TimeoutSec=60
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=no

Nice=-10
IOSchedulingClass=realtime
#IOSchedulingClass=best-effort
IOSchedulingPriority=3
ExecStart=/opt/HomeAssistant/homeassistant/bin/hass

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
