# centauriweex.service - Run WeeWx Weather Station Server
[Unit]
Description=WeeWx Weather Station Server
After=time-sync.target
Wants=lighttpd.service
Conflicts=weewx.service

StartLimitBurst=10
StartLimitIntervalSec=1000

ConditionPathExists=/opt/WeeWx/weewx/service-enabled

[Service]

Environment="LANG=de_DE.UTF-8"
TimeoutStartSec=90
RestartSec=120s
Restart=on-failure

#ExecStartPre=-/var/centauri/tools/centauriroute --tool wait 127.0.0.1 53 30 "No DNS"
ExecStart=/opt/WeeWx/weewx/bin/weewxd --daemon --pidfile=/run/weewx/weewx.pid /opt/WeeWx/home/weewx-data/weewx.conf
#ExecStartPost=-/usr/local/bin/weewx2hass --run

ExecReload=/bin/kill -HUP $MAINPID
Type=simple
RuntimeDirectory=weewx
PIDFile=/run/weewx/weewx.pid
User=weewx
Group=users


[Install]
WantedBy=multi-user.target
