# centaurihass.service - Run HomeAssistant
[Unit]
Description=Home Assistant Server
After=networking.service mosquitto.service
Wants=networking.service mosquitto.service

StartLimitBurst=10
StartLimitIntervalSec=1000

# see centaurihass auto on/off
ConditionPathExists=/opt/HomeAssistant/homeassistant/service-enabled

[Service]
User=homeassistant
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=no

Nice=-10
IOSchedulingClass=realtime
#IOSchedulingClass=best-effort
IOSchedulingPriority=3

TimeoutSec=60
Restart=on-failure
RestartSec=30s

# hass does not retry modbus init, so optionally wait until net is ready...
#ExecStartPre=-/var/centauri/tools/centauriroute --zombie wait logo1 80 30
ExecStart=/opt/HomeAssistant/homeassistant/bin/hass


[Install]
WantedBy=multi-user.target networking.service
