[Unit]
Description=Centauri Maintenance Mode + networking
Documentation=man:systemd.special(7)
Requires=basic.target
Conflicts=rescue.service rescue.target multi-user.target 
#centauri-network.service
After=basic.target
AllowIsolate=yes
