[Desktop Entry]
Type=Application
Name=Load XResources via centauristartx
TryExec=/usr/local/bin/centauristartx
Exec=/usr/local/bin/centauristartx -X
StartupNotify=false
NoDisplay=true

