#!/usr/bin/kioclient exec
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=VirtualBox - Centauri
GenericName=Virtual Machine
Type=Application
Exec=vbox gui
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
DocPath=file:///usr/share/doc/virtualbox-4.2/UserManual.pdf
Icon=virtualbox
Categories=Emulator;Utility;
Comment=Run several virtual systems on a single host computer
Comment[de]=Windows und andere Betriebssysteme unter Linux ausführen
