# ssh_config for centauri - (c) Dr. J. Pfennig 2024-05-15

Host            public
    HostName        %I%
    Port            4911
    User            remote

#Host            webspace
#    HostName        homeXXXXXXXXX.1and1-data.host
#    User            XXXXXXXXX
#    SendEnv         -LC_*

