# /etc/exports for servers, jpf@centauri (c) 2023-08-20

/home          %B%(sec=krb5i:krb5,insecure,rw,sync,no_subtree_check)
/export        %B%(sec=krb5i:krb5,insecure,rw,sync,no_subtree_check)
/archive       %B%(sec=krb5i:krb5,insecure,rw,sync,no_subtree_check)
/shared        %B%(sec=krb5i:krb5,insecure,rw,sync,no_subtree_check)
